@media screen and (max-width: 480px){
        .wrapper{
            width = 100%;
            display : block; 
            position: relative;
          background-color: #99ccFF;
        }
        .driver-navigator{
            width = 100%
            background-color: #99ccFF;
        }
        .first-column{
            background-color: #99ccFF;
        }
        .second-column{
            background-color: #99ccFF;
        }
        footer{
            text-align: center;
            position: relative;
            background-color: #99ccFF;
            }
        div {
            background-color: #99ccFF;
            position: relative;
        }
        h1, h3{
            text-align: center;
            text-decoration: underline;
            background-color: #99ccFF;
            position: relative;
            display : block;
        }
    }
@media screen and (min-width: 480px){
   body {background-color:#99ccFF;
   }
        .wrapper{
            width = 100%;
            display : block; 
            overflow: auto;
            margin: 0 auto;
        }
        .driver-navigator{
            width = 100%
            background-color: #99ccFF;
        }
        .first-column{
            width: 50%;
            float: left; 
            background-color: #99ccFF;
        }
        .second-column{
            width: 49%;
            float: right;
            background-color: #99ccFF;
        }
        footer{
            text-align: center;
            background-color: #99ccFF;
            }
        div {
            border: 1px solid black;
            background-color: #99ccFF;
            padding : 0px;
            margin :0px;
        }
        h1, h3{
            text-align: center;
            text-decoration: underline;
        }
}